@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

$red: #dc143c;
$black: #1d1d1d;
$white: #ffffff;
$gray: #555555;

.answer-form {
  grid-area: answer;
  justify-self: flex-end;
  align-self: center;
  display: grid;

  .answer {
    border: none;
    justify-self: flex-end;
    align-self: center;
    font-size: 3.5rem;
    color: $white;
    background: none;
    text-align: right;
    width: 100%;
  }

  .answer:focus {
    outline: none;
  }

  .answer::placeholder {
    color: $gray;
  }

  .answer:hover::placeholder {
    color: #ffffffa1;
    transition: 0.3s;
  }
}

.guess-word {
  grid-area: word;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 3.5rem;
  color: $white;
  cursor: default;
}

.show-translation-button {
  grid-area: trnslBtn;
  background: none;
  color: $gray;
  border: none;
  font-size: 1.5rem;
  transition: 0.3s;
  cursor: pointer;
  justify-self: center;
  align-self: center;
}

.show-translation-button:hover {
  color: $white;
}

.translation {
  grid-area: trnsl;
  color: $white;
  justify-self: center;
  align-self: flex-end;
  font-size: 1.5rem;
  cursor: default;
  font-weight: 200;
}

.translation-empty {
  color: $red;
  grid-area: arrow;
  justify-self: center;
  align-self: flex-end;
  font-size: 1.5rem;
  cursor: default;
}

.list-is-empty {
  color: $red;
  grid-area: word;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 3.5rem;
  cursor: default;
}

.arrow {
  display: grid;
  grid-area: arrow;
  height: 100%;
  justify-self: center;
  align-self: center;
  font-size: 5rem;
  color: $gray;
}

@media (max-width: 1050px) {
  .guess-word,
  .list-is-empty {
    justify-self: center;
    align-self: flex-end;
  }

  .answer-form {
    justify-self: center;
    align-self: flex-start;
  }

  .answer-form .answer {
    justify-self: center;
    text-align: center;
  }

  .arrow {
    transform: rotate(-90deg);
  }

  .translation,
  .translation-empty {
    grid-area: word;
    align-self: flex-start;
  }
}

@media (max-width: 650px) {
  .list-is-empty,
  .guess-word,
  .answer-form .answer {
    font-size: 2.7rem;
  }

  .arrow {
    font-size: 4.5rem;
  }

  .translation-empty,
  .translation {
    font-size: 1.5rem;
    align-self: center;
  }

  .show-translation-button {
    font-size: 1.5rem;
  }
}

@media (max-width: 450px) {
  .list-is-empty,
  .guess-word,
  .answer-form .answer {
    font-size: 2.5rem;
  }

  .arrow {
    font-size: 4rem;
  }

  .translation-empty,
  .translation {
    font-size: 1.2rem;
    align-self: center;
  }

  .show-translation-button {
    font-size: 1.3rem;
  }
}

@media (max-width: 350px) {
  .list-is-empty,
  .guess-ord,
  .answer-form .answer {
    font-size: 2.3rem;
  }

  .arrow {
    font-size: 3rem;
  }

  .translation {
    font-size: 1.1rem;
  }

  .show-translation-button {
    font-size: 1.2rem;
  }
}
