$white: #ffffff;

.errorPage {
  font-size: 5rem;
  justify-self: center;
  align-self: center;
  color: $white;
}

@media (max-width: 900px) {
  .errorPage {
    font-size: 4rem;
  }
}

@media (max-width: 650px) {
  .errorPage {
    font-size: 3rem;
  }
}

@media (max-width: 470px) {
  .errorPage {
    font-size: 2.5rem;
    text-align: center;
  }
}
