@import '../assets/Variables.scss';

.answer-form {
  grid-area: answer;
  justify-self: flex-end;
  align-self: center;
  display: grid;

  .answer {
    border: none;
    justify-self: flex-end;
    align-self: center;
    font-size: 4rem;
    color: $white;
    background: none;
    text-align: right;
    width: 100%;
  }

  .answer:focus {
    outline: none;
  }

  .answer::placeholder {
    color: $gray;
  }

  .answer:hover::placeholder {
    color: #ffffffa1;
    transition: 0.3s;
  }
}

@media (max-width: 1050px) {
  .answer-form {
    justify-self: center;
    align-self: flex-start;
  }

  .answer-form .answer {
    justify-self: center;
    text-align: center;
    font-size: 2.5rem;
  }
}

@media (max-width: 650px) {
  .answer-form .answer {
    font-size: 2.1rem;
  }
}

@media (max-width: 450px) {
  .answer-form .answer {
    font-size: 1.9rem;
  }
}

@media (max-width: 350px) {
  .answer-form .answer {
    font-size: 1.7rem;
  }
}
