@import '../assets/Variables.scss';

.search {
  border: none;
  grid-area: search;
  background: none;
  outline: none;
  font-size: 1.2rem;
  height: 5vh;
  width: 25%;
  justify-self: center;
  align-self: center;
  color: $white;
  border-bottom: 1px solid $gray;
  text-align: center;
}

.search:hover {
  border-color: $white;
  transition: 0.3s;
}

.search:hover::placeholder {
  color: transparent;
  transition: 0.3s;
}

@media (max-width: 1050px) {
  .search {
    font-size: 1rem;
  }
}

@media (max-width: 900px) {
  .search {
    font-size: 0.9rem;
  }
}

@media (max-width: 650px) {
  .search {
    font-size: 0.8rem;
    width: 40%;
  }
}

@media (max-width: 450px) {
  .search {
    font-size: 0.7rem;
  }
}

@media (max-width: 350px) {
  .search {
    font-size: 0.6rem;
  }
}
