
.words_list_box {
  margin-top: 13rem;
}

.list_form {
  display: flex;
  margin-bottom: 6rem;
}

input {
  display: block;
  outline: none;
  border: none;
  border-bottom: 1px solid #ffffff;
  padding: .5em 0em;
  font-size: 1.8rem;
  margin: 0 5rem;
  background: none;
  color: #ffffff;
}

label {
  text-align: center;
  display: inline-block;
  font-size: 1.4rem;
  color: #ffffff;
}

.add_btn {
  color: #ffffff;
  border: none;
  border-bottom: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
  background: none;
  width: 6rem;
  margin-top: 1.5rem;
  height: 2.5rem;
  font-size: 1rem;
  transition: 0.3s;
  cursor: pointer;
  word-wrap: break-word;
}

.add_btn:hover {
  background-color: #b9002e57;
  color: #ffffff;
  border-color: #b9002e00;
}

.word_warning, .translation_warning {
  background-color: #b9002e57;
  border-radius: 5px;
}

.delete_all {
  color: #ffffff;
  border: none;
  border-bottom: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
  background: none;
  width: 6rem;
  margin-top: 1.5rem;
  margin-left: 2rem;
  height: 2.5rem;
  font-size: 1rem;
  transition: 0.3s;
  cursor: pointer;
  word-wrap: break-word;
}

.delete_all:hover {
  color: #ffffff;
  background-color: #b9002e57;
  border-color: #b9002e00;
}