
.words_list_box {
  display: grid;
  grid-template: 
  "i b f"
  "l l l";
  grid-template-columns: 1fr 1fr 1fr;
}

.list_form {
 display: flex;
 justify-self: flex-end;
 margin-top: 8rem;
 margin-left: 4rem;
}

input {
  outline: none;
  border: none;
  border-bottom: 1px solid #ffffff;
  font-size: 1.7rem;
  padding: 0 .5rem;
  width: 35%;
  background: none;
  color: #ffffff;
}

.add_btn {
  border: none;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  background: none;
  color: #ffffff;
  width: 100px;
  margin: 0 1rem;
  height: 40px;
  font-size: 1.1rem;
  transition: 0.3s;
  cursor: pointer;
  grid-area: a;
  align-self: flex-end;
}

.add_btn:hover {
  background-color: #ffffff;
  color: #1d1d1d;
}

.word_warning, .translation_warning {
  background-color: #b9002e57;
}

.delete_all {
  border: none;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  background: none;
  color: #ffffff;
  width: 100px;
  height: 40px;
  font-size: 1.2rem;
  transition: 0.3s;
  cursor: pointer;
  grid-area: b;
  justify-self: center;
  align-self: flex-end;
}

.delete_all:hover {
  background-color: #ffffff;
  color: #1d1d1d;
}

.list_is_empty {
  font-size: 5rem;
  color: #ffffff;
  grid-area: l;
  margin-top: 15rem;
  align-self: center;
  justify-self: center;
}