$red: #dc143c;
$black: #1d1d1d;
$white: #ffffff;
$gray: #555555;

.listEmptyWarning {
  font-size: 4rem;
  color: $gray;
  grid-area: box;
  justify-self: center;
  align-self: center;
}

.wordsWrapper {
  grid-area: box;
  padding-top: 1rem;
  grid-auto-rows: 60px;
  gap: 15px;
  height: 60vh;
  display: grid;
  overflow-y: auto;
}

.wordsWrapper::-webkit-scrollbar {
  background-color: $black;
  width: 0.4rem;
}

.wordsWrapper::-webkit-scrollbar-thumb {
  background-color: $gray;
  border-radius: 10px;
}

@media (max-width: 900px) {
  .wordsWrapper {
    height: 60vh;
  }

  .wordsWrapper::-webkit-scrollbar {
    width: 0.3rem;
  }
}

@media (max-width: 650px) {
  .wordsWrapper {
    grid-auto-rows: 50px;
  }

  .wordsWrapper::-webkit-scrollbar {
    width: 0.2rem;
  }
}

@media (max-width: 470px) {
  .wordsWrapper {
    grid-auto-rows: 40px;
  }

  .wordsWrapper::-webkit-scrollbar {
    width: 0.1rem;
  }

  .listEmptyWarning {
    font-size: 3rem;
  }
}

@media (max-width: 360px) {
  .listEmptyWarning {
    font-size: 2rem;
  }
}
