.words_list_btn {
  position: absolute;
  top: 3.5rem;
  color: #252525;
  border: 1px solid #25252580;
  background-color: #ffffff;
  width: 6rem;
  height: 3rem;
  font-size: 1.3rem;
  border-radius: 3px;
  transition: 0.3s;
  cursor: pointer;
  word-wrap: break-word;
}

.words_list_btn:hover {
  box-shadow: none;
  background-color: #252525;
  color: #ffffff;
  border-radius: 5px;
}

