.words_list_btn {
  position: absolute;
  top: 8rem;
  background-color: #b9002e57;
  color: #ffffff;
  border: none;
  width: 6rem;
  height: 3rem;
  font-size: 1.3rem;
  transition: 0.3s;
  cursor: pointer;
  word-wrap: break-word;
  border-radius: 5px;
}

.words_list_btn:hover {
  background-color: #ffffff;
  color: #b9002e;
}
