$white: #ffffff;
$red: #dc143c;
$black: #1d1d1d;
$gray: #555555;
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400&display=swap');

.about {
  grid-area: middleContent;
  align-self: center;
  height: 60vh;
  overflow-y: scroll;
  color: $gray;
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  padding-right: 1.5rem;
  cursor: default;
}

.about::-webkit-scrollbar {
  background-color: $black;
  width: 0.4rem;
}

.about::-webkit-scrollbar-thumb {
  background-color: $gray;
  border-radius: 10px;
}

.link {
  color: $white;
  text-decoration: none;
}

.headers {
  color: $white;
}

@media (max-width: 1050px) {
  .about {
    font-size: 1.3rem;
  }
}

@media (max-width: 900px) {
  .about {
    text-align: center;
    padding: 0;
  }

  .about::-webkit-scrollbar {
    background-color: $black;
    width: 0.3rem;
  }
}

@media (max-width: 650px) {
  .about {
    font-size: 1.1rem;
  }

  .about::-webkit-scrollbar {
    background-color: $black;
    width: 0.2rem;
  }
}

@media (max-width: 450px) {
  .about {
    font-size: 0.9rem;
  }

  .about::-webkit-scrollbar {
    background-color: $black;
    width: 0.1rem;
  }
}
