$red: #dc143c;
$black: #1d1d1d;
$white: #ffffff;
$gray: #555555;

.options {
  display: grid;
  grid-area: options;
  grid-template: 'search form deleteAll' / 1fr 5fr 1fr;

  .delete-all {
    border: none;
    background: none;
    justify-self: flex-end;
    align-self: center;
    color: $gray;
    font-size: 1.6rem;
    transition: 0.3s;
    cursor: pointer;
    grid-area: deleteAll;
  }

  .delete-all:hover {
    color: $red;
  }

  .filter {
    border: none;
    grid-area: search;
    background: none;
    outline: none;
    font-size: 1.4rem;
    width: 70%;
    height: 5vh;
    align-self: center;
    color: $white;
    border-bottom: 1px solid $gray;
  }

  .filter:hover {
    border-color: $white;
    transition: 0.3s;
  }

  .filter:hover::placeholder {
    color: transparent;
    transition: 0.3s;
  }

  .options-form {
    display: grid;
    grid-template: 'word button translation';
    background: none;
    grid-area: form;
    justify-self: center;
    align-self: center;

    input {
      outline: none;
      border: none;
      font-size: 1.4rem;
      width: 100%;
      background: none;
      color: $white;
      text-align: center;
      transition: 0.3s;
    }

    input:hover::placeholder {
      color: transparent;
      transition: 0.3s;
    }

    input::placeholder {
      color: $gray;
    }

    .add-button {
      color: $gray;
      border: none;
      background: none;
      transition: 0.3s;
      cursor: pointer;
      justify-self: center;
      align-self: center;
      font-size: 2rem;
    }

    .add-button:hover {
      color: $white;
    }

    .word-warning,
    .translation-warning,
    .word-warning::placeholder,
    .translation-warning::placeholder {
      transition: 0.1s;
      color: $red;
    }
  }
}

@media (max-width: 900px) {
  .options .filter {
    font-size: 1.3rem;
  }

  .options .delete-all {
    font-size: 1.4rem;
  }

  .options .options-form input {
    font-size: 1.3rem;
  }

  .options .options-form .add-button {
    font-size: 1.7rem;
  }
}

@media (max-width: 650px) {
  .options .filter {
    font-size: 0.9rem;
  }

  .options .delete-all {
    font-size: 1.2rem;
  }

  .options .options-form input {
    font-size: 1.1rem;
  }

  .options .options-form .add-button {
    font-size: 1.5rem;
  }
}

@media (max-width: 450px) {
  .options .filter {
    font-size: 0.9rem;
  }

  .options .delete-all {
    font-size: 1.1rem;
  }

  .options .options-form input {
    font-size: 0.9rem;
  }

  .options .options-form .add-button {
    font-size: 1.4rem;
  }

  .options {
    grid-template-columns: 1fr 3fr 1fr;
    align-self: flex-end;
  }
}

@media (max-width: 350px) {
  .options .filter {
    font-size: 0.7rem;
  }

  .options .delete-all {
    font-size: 0.9rem;
  }

  .options .options-form input {
    font-size: 0.8rem;
  }

  .options .options-form .add-button {
    font-size: 1.3rem;
  }
}
