@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400&family=Maven+Pro&display=swap');

$black: #1d1d1d;
$white: #ffffff;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
}

body {
  background-color: $black;
}

.mainBox {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;

  .innerBox {
    height: 100vh;
    grid-column: 2/2;
    display: grid;
    grid-template:
      'topContent' 1fr
      'middleContent' 5fr
      'footerContent' 1fr;

    .topBox {
      background-color: $black;
      grid-area: topContent;
      display: grid;
      grid-template: 'logo navigation .' / 1fr 2fr 3fr;
      height: 10vh;

      .logo {
        grid-area: logo;
        color: $white;
        font-size: 1.8rem;
        letter-spacing: 1px;
        font-weight: bold;
        cursor: default;
        justify-self: flex-start;
        align-self: center;
      }
    }

    .middleBox {
      grid-area: middleContent;
      display: grid;
      grid-template:
        'message message message' 1fr
        'answer icon word' 3fr
        'translation translation translation' 1fr
        / 2fr 1fr 2fr;
    }

    .cardsBox {
      display: grid;
      grid-template: 
      'filter options delete' 1fr
      'box box box' 5fr
      / 1fr 1fr 1fr;
    }
  }
}
