@import './assets/Variables.scss';
@font-face {
  font-family: 'Jost';
  src: url(../src/assets/fonts/Jost-VariableFont_wght.ttf);
}
@font-face {
  font-family: 'Jost';
  src: url(../src/assets/fonts/Jost-ExtraLight.ttf);
  font-weight: 100;
}
@font-face {
  font-family: 'Jost';
  src: url(../src/assets/fonts/Jost-Medium.ttf);
  font-weight: 300;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
}

body {
  background-color: $black;
}

.main-box {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;

  .inner-box {
    height: 100vh;
    grid-column: 2/2;
    display: grid;
    grid-template:
      'topContent' 1fr
      'middleContent' 5fr
      'footerContent' 1fr;

    .links-wrapper {
      display: grid;
      grid-area: footerContent;
      grid-template: '. links .' / 5fr 1fr 5fr;
    }

    .content-box {
      grid-area: middleContent;
      display: grid;
      grid-template:
        'trnsl trnsl trnsl' 2fr
        'answer arrow word' 5fr
        'trnslBtn trnslBtn trnslBtn' 3fr
        / 2fr 1fr 2fr;
    }

    .words-box {
      display: grid;
      grid-template:
        'options options options' 1fr
        'box box box' 5fr
        / 1fr 1fr 1fr;
    }
  }
}

@media (max-width: 1200px) {
  .main-box {
    grid-template-columns: 1fr 5fr 1fr;
  }
}

@media (max-width: 1050px) {
  .main-box .inner-box .content-box {
    grid-template:
      'word word word' 2fr
      'arrow arrow arrow' 2fr
      'answer answer answer' 2fr
      'trnslBtn trnslBtn trnslBtn';
  }
}

@media (max-width: 650px) {
  .main-box .inner-box .links-wrapper {
    grid-template-columns: 4fr 1fr 4fr;
  }

  .main-box {
    grid-template-columns: 1fr 6fr 1fr;
  }
}

@media (max-width: 550px) {
  .main-box {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 450px) {
  .main-box .inner-box .links-wrapper {
    grid-template-columns: 3fr 1fr 3fr;
  }
}

@media (max-width: 320px) {
  .main-box .inner-box .top-box .logo::before {
    font-size: 1rem;
  }

  .main-box .inner-box .links-wrapper {
    grid-template-columns: 2fr 1fr 2fr;
  }
}
