@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400&family=Maven+Pro&display=swap');

$black: #1d1d1d;
$white: #ffffff;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
}

body {
  background-color: $black;
}

.mainBox {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;

  .innerBox {
    height: 100vh;
    grid-column: 2/2;
    display: grid;
    grid-template:
      'topContent' 1fr
      'middleContent' 5fr
      'footerContent' 1fr;

    .topBox {
      background-color: $black;
      grid-area: topContent;
      display: grid;
      grid-template: 'logo navigation .' / 4fr 1fr 4fr;

      .logo {
        grid-area: logo;
        color: $white;
        font-size: 2rem;
        letter-spacing: 1px;
        font-weight: bold;
        cursor: default;
        align-self: center;
        justify-self: center;
      }

      .logo::before {
        content: 'SwitchWord.';
      }
    }

    .middleBox {
      grid-area: middleContent;
      display: grid;
      grid-template:
        'trnsl trnsl trnsl' 1fr
        'answer arrow word' 5fr
        'trnslBtn trnslBtn trnslBtn' 2fr
        / 2fr 1fr 2fr;
    }

    .cardsBox {
      display: grid;
      grid-template:
        'options options options' 1fr
        'box box box' 6fr
        / 1fr 1fr 1fr;
    }
  }
}

@media (max-width: 1200px) {
  .mainBox .innerBox .topBox {
    grid-template-columns: 3fr 1fr 3fr;
  }

  .mainBox {
    grid-template-columns: 1fr 5fr 1fr;
  }
}

@media (max-width: 1050px) {
  .mainBox .innerBox .middleBox {
    grid-template:
      'word word word' 2fr
      'arrow arrow arrow' 2fr
      'answer answer answer' 2fr
      'translation translation translation';
  }
}

@media (max-width: 900px) {
  .mainBox .innerBox .topBox {
    grid-template: 'logo navigation .' / 4fr 2fr 4fr;
  }
}

@media (max-width: 650px) {
  .mainBox .innerBox .topBox {
    grid-template: 'logo navigation navigation' / 4fr 1fr 1fr;
  }

  .mainBox .innerBox .topBox .logo {
    font-size: 1.7rem;
  }
}

@media (max-width: 450px) {
  .mainBox {
    height: 80vh;
  }

  .mainBox .innerBox .topBox {
    grid-template:
      '. logo .' 2fr
      '. navigation .' 1fr;
  }

  .mainBox .innerBox .topBox .logo::before {
    font-size: 1.3rem;
    content: 'SW.';
  }
}

@media (max-width: 300px) {
  .mainBox .innerBox .topBox .logo::before {
    font-size: 1rem;
  }
}
