$white: #ffffff;
$gray: #555555;
$red: #b9002e57;
$black: #1d1d1d;
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200&display=swap');

.card {
  display: grid;
  position: relative;
  font-weight: lighter;
  font-size: 1.8rem;
  border-bottom: 1px solid $gray;
  cursor: default;
  grid-template: 'word translation delete' / 1fr 1fr 1fr;


  .deleteCardBtn {
    display: flex;
    font-size: 1.5rem;
    border: none;
    background: none;
    transition: 0.3s;
    cursor: pointer;
    color: $gray;
    align-self: center;
    justify-self: center;
    grid-area: delete;
  }

  .deleteCardBtn:hover {
    color: $white;
  }

  .word {
    font-weight: 500;
    color: $white;
    justify-self: flex-start;
    align-self: center;
    grid-area: word;
  }

  .translation {
    font-weight: 200;
    color: $white;
    justify-self: flex-start;
    align-self: center;
    grid-area: translation;
  }
}
